.section-container {
	width: 90%;
	background-color: GhostWhite;
	/*border: thin solid;*/
}

div.blocks-container {
	max-width: 83%;
	flex-wrap: wrap;
}

div.block {
	width: 20px;
	height: 20px;
	border: thin solid;
	margin-top: 2%;
}

.block4:nth-child(4n+5) {
	margin-left: 2%;
}

.block3:nth-child(3n+4) {
	margin-left: 2%;
}

.block2:nth-child(2n+3) {
	margin-left: 2%;
}

.block6:nth-child(6n+7) {
	margin-left: 2%;
}

.block7:nth-child(7n+8) {
	margin-left: 2%;
}

.section-menu {
	margin-left: 83%;
}